@tailwind base;
@tailwind components;
@tailwind utilities;


.button-outline {
    color: #334155;
    border: 1px solid #334155;
    border-radius: .25rem;
    padding: .5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
.button-outline:hover, .button-outline:focus {
    color: white;
    background-color: #334155;
}


.statblock-preview {
    background: #fff;
    padding: .5rem;
}

.statblock-markdown h1, .statblock-markdown h2, .statblock-markdown h3 { font-weight: bold; }
.statblock-markdown h1 {font-size: 1.5em; }
.statblock-markdown h2 {font-size: 1.25em; }
.statblock-markdown h2 {font-size: 1.15em; }
.statblock-markdown p, .statblock-markdown table {
    margin: .5rem 0;
}
.statblock-markdown table {
    border: 1px solid #dee2e6;
}
.statblock-markdown table th, .statblock-markdown table td {
    padding: .5rem;
    text-align: center;
    border-width: 1px;
}
.statblock-markdown ol, .statblock-markdown ul { padding-left: 2em; }
.statblock-markdown ol { list-style: numbered; }
.statblock-markdown ul { list-style: disc; }
